{% extends '@App/Base/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Bonjour,
            Victime de son succès, nous rencontrons un problème de connexion !</h1>
        <p>
            Veillez-nous excuser pour la gêne occasionnée, le site sera de nouveau
            disponible d'ici 30 minutes. Merci de votre compréhension.
            {#<br />#}
            {#<a href="{{ path('fos_user_registration_register') }}" class="btn blue">Retour</a>#}
        </p>
    </div>
{% endblock %}