{% extends '@App/Base/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Bonjour, Victime de son succès notre site est à court de jus</h1>
        <p>
            Veillez-nous excusé pour la gêne occasionné le site sera de nouveaux disponibles d'ici 30 minutes, Merci de votre compréhension
            {#<br />#}
            {#<a href="{{ path('fos_user_registration_register') }}" class="btn blue">Retour</a>#}
        </p>
    </div>
{% endblock %}