<div class="partners">
    <h2 class="center" id="job">Nos Partenaires</h2>
    <div class="row">
        <div class="center center-block partner-row">
        {% for part in partner %}
            <div class="col s4 m3 l2">
                <a href="{{ part.path }}" target='_blank'>
                    <img src="{{ asset('img/'~part.picture.pictureName) }}" class="responsive-img" >
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
