# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: sourcink
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: gmail
    mailer_host: ~
    mailer_user: noreply.sourcink@gmail.com
    mailer_password: ~
    mailer_name: 'No Reply Sourcink'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    api_key: ici clé API catsone
    api_url: 'https://api.catsone.com/v3/'
    portal_cats_id: 'id portal'

    oauth.linkedin.id: ~
    oauth.linkedin.secret: ~

    id_tag_candidate_spont: id Spont
    id_tag_candidate: id WEB
    id_tag_candidate_big5: id Big5
    try_create_candidate: 5

    email: contact@sourcink.com
    telephone: '+33 (0)1 70 71 89 19'

    api_tie_url_init:
    api_tie_big5_key: clé API Monkey Tie 'bigfive'
    api_tie_culture_key: clé API Monkey Tie "culturefit"
    callback: 'https://www.google.fr'
