<div class="navbar-fixed big5-nav">
    <nav>
        <div class="nav">
            <a href="{{ path('app_homepage') }}" class="brand-logo">
                <img src="{{ asset('media/logoSourcInk.svg') }}"></a>
            <p class="slogan center hide-on-small-only">
                L'agence de sourcing spécialisée en recrutement juridique, fiscal et RH
            </p>
            <ul id="nav-monk" class="right hide-on-small-only">
                <li class="center">
                    <a href="{{ path('app_applicant') }}" class="right red white-text applicant-button waves-effect z-depth-1">Retour à l'Espace
                        Candidat</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
